.selects{
    width: 522px;
    margin: 0 auto;
    height: 20px;
    padding-bottom: 35px;
}

@media (max-width: 510px) {
    .selects{
        padding-bottom: 48px;
        max-width: 130px;
    }
}


.category{
    float: left;
}

.sortBy{
    float: right;
}
.selects span{
    font-family: Montserrat, serif;
    font-size: 13px;
}

.selects select{
    width: 130px;
    height: 25px;
    color: #565656;
    font-family: Corbel, serif;
}