.booksPage{
    width: 100%;
}
.preloader{
    padding: 13px;
}

.booksPng{
    width: 120px;
}

.booksPngDiv{
    text-align: center;
    margin: 20px auto;
}

.booksPngText{
    margin: 5px 0 0 5px;
    font-family: Montserrat, serif;
    color: #ff736f;
    text-align: center;
    font-size: 14px;
}