.moreBooks{
    text-align: center;
    padding: 10px;
}

.loadMoreBooks {
    border-radius: 122px;
    font-family: "Montserrat", serif;
    font-size: 30px;
    width: 100px;
    height: 40px;
    border: none;
    background: #0F0F0F;
    border: 1px #33db4c solid;
    outline: none;
    color: #33db4c;
    cursor: pointer;
    background-position: center;
    transition: border 0.5s;
}

.loadMoreBooks:active {
    border: 1px #0F0F0F solid;
}
