.moreBooks{
    text-align: center;
    padding: 10px;
}

.loadMoreBooks {
    border-radius: 122px;
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 17px;
    width: 220px;
    height: 40px;
    border: none;
    background: #db3376;
    outline: none;
    color: #000000;
    cursor: pointer;
}



.loadMoreBooks {
    background-position: center;
    transition: background 0.5s;
}
.loadMoreBooks:hover {
    background: #920d4d
}
