.search{
    height: 230px;
}

.title{
    font-family: 'Italiana', serif;
    text-align: center;
    font-size: 70px;
    margin: 15px auto;
    color: #7DF073;
}
.subtitle{
    font-family:'Montserrat', Times, serif ;
    text-align: center;
    font-size: 15px;
    margin: 1px auto;
    color: #fff;
    padding-bottom: 20px;
}
.search form{
    display: flex;
    width: 520px;
    margin: 20px auto;
}
.search textarea{
    background: #0F0F0F;
    border: solid 1px #9d003f;
    color: #fff;
    border-radius: 100px;
    line-height: 30px;
    padding: 7px 15px;
    font-family:'Montserrat', Times, serif ;
    width: 500px;
    height: 30px;
    font-size: 14px;
    outline: none;
    resize: none;
    overflow-y: hidden;
}



.search textarea::-webkit-input-placeholder {
/* padding-left: 10px; */
    opacity: 0.5;
    font-size: 14px;
    color: #707070;
}

.SButton {
    margin-left: 10px;
    /* border: 1px #4d0020 solid; */
    font-family: Broadway, serif;
    font-size: 20px;
    width: 53px;
    height: 45px;
    border: none;
    background: #620029;
    color: #f3f3f3;
    cursor: pointer;
}

.SButton:active{
    font-size: 15px;
}

.SButton {
    background-position: center;
    /* transition: background 0.1s ease-in; */
}
.SButton:hover {
    background: #00781c;
}

.results{
    height: 30px;
    width: 120px;
    margin: 13px auto;
    font-family: Montserrat, serif;
    font-size: 17px;
<<<<<<< HEAD
    color: #c4e2a3;
=======
    color: #b7034e;
>>>>>>> 833c235e83159b7400280a00886dae0bc01b0b36
    padding-top: 4px;
    border-radius: 8px;
    text-align: center;
    /* font-weight: bold; */
}

.hr{
    height: 1px;
    border: none;
    width: 520px;
    background-color: #465633;
}



@media (max-width: 510px) {
    .search textarea{
        max-width: 200px;
    }
    .search form{
        max-width: 250px;
    }

    .hr{
        inline-size: 0;
    }
    .preloader{
<<<<<<< HEAD
        margin-top: 15px;
=======
        margin-top: 20px;
>>>>>>> 833c235e83159b7400280a00886dae0bc01b0b36
    }
}