@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


.app{
    margin: 0 auto;
    max-width: 995px;
}
@media (max-width: 1030px) {
    .app{
        max-width: 770px;
    }
}

@media (max-width: 760px) {
    .app{
        max-width: 510px;
    }
}

@media (max-width: 510px) {
    .app{
        max-width: 260px;
    }
}